.container-2nx-BQ, .bd-switch-body {
    transform:scale(0.85);
    transform-origin:center;
    background-color: hsl(var(--essence-accent-grey)) !important;
}

.container-2nx-BQ{
	&:not([style*="218"]) {
		background-color: hsl(var(--essence-accent-brand)) !important;
	}
}

.bd-switch-checked {
	.bd-switch-body {
		background-color: hsl(var(--essence-accent-brand)) !important;
	}
}

.bd-switch-slider, .bd-switch-checked, .slider-32CRPX, .bd-switch-slider, .bd-switch-body {
    svg {
        display: none;
    }
}