.container-2nx-BQ {
    background-color: hsl(var(--essence-accent-grey)) !important;
    transition: all 225ms ease;
}

.container-2nx-BQ, .checked-25WXMf{
    background-color: hsl(var(--essence-accent-brand)) !important;
    transition: all 225ms ease;  
}